@import "../../vars.css";

.container {
  font-family: var(--font-roboto), sans-serif;
  position: fixed;
  bottom: 30px;
  left: 20px;
  z-index: 1000;
}

.toggleButton {
  background: var(--color-ia);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  box-shadow: var(--color-borda) 0px 4px 6px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleButton img {
  width: 50%;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
}

.toggleButton:hover {
  transform: scale(1.1);
}

/* Caixa do chat */
.chatBox {
  position: fixed;
  bottom: 110px;
  left: 40px;
  width: 400px;
  max-width: 90vw;
  background: var(--color-white);
  border: 1px solid var(--color-secondary);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 500px) {
  .chatBox {
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
  }
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.response {
  border: 1px solid var(--color-secondary);
  padding: 10px;
  height: 200px;
  overflow-y: auto;
  background: var(--color-bg);
  color: var(--color-text);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

.closeButton {
  background: var(--color-fechar);
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  flex: 1;
}

.sendButton {
  flex: 2;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-navtext);
}

.sendButton:hover {
  background-color: var(--color-exp);
}

.closeButton:hover {
  background-color: var(--color-fecharr);
}
